body {
  width: 800px;
  margin: 30px auto; 
  text-align: center;
}
.main{
  box-sizing: border-box;
}
.form{
  margin: 40px auto;
}
.button{
  width: 90px;
  height: 36px;
}
.input{
  width:  300px;
  height: 30px;
}
.list{
  margin: 40px auto;
}
.list__li{ 
  border: 1px solid black;
  margin-bottom: 10px;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;

} 
.modal__content{
  z-index: 1;
  background-color: #fff;
  width: 700px;
  height: 200px;
  
}
